header {
  color: white;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #24596B;
  margin: 0px;
  padding: 75px 200px;
  position: relative;
}
nav {
  color: black;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e6e6e6;
  margin: 0px;
  padding: 30px 200px;
  position: relative;
}
section {
  float: left;
  position: relative;
  font-size: smaller;
  width: 45%;
  margin: 30px 10px 50px 200px;
  padding: 0px;
  color: #404040;
}
h2 {
  color: #1F4D5C;
  font-size: large;
  font-family: Arial, Helvetica, sans-serif;
}
h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #404040;
}
a {
  color: #1F4D5C;
  text-decoration: none;
  font-size: larger;
}
.quote {
  color: #1F4D5C;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}
p {
  font-family: Verdana, sans-serif;
  font-size: smaller;
  line-height: 1.5;
}
aside {
  float: left;
  position: relative;
  font-family: Arial, sans-serif;
  font-size: smaller;
  color: #404040;
  width: 20%;
  margin: 30px 200px 50px 25px;
  padding: 0px;
}
i {
  font-size: larger;
}
footer {
  clear: right;
  background-color: #404040;
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  padding: 75px 200px;
  margin: 0px;
  text-align: center;
  color: white;
}
