header {
  color: white;
  font-family: sans-serif;
  background-color: #409fbf;
  margin: 0px;
  padding: 75px 200px;
}
nav {
  color: black;
  font-weight: bold;
  font-family: sans-serif;
  background-color: #e6e6e6;
  margin: 0px;
  padding: 30px 200px;
}
section {
  float: left;
  width: 45%;
  margin: 50px 10px 50px 200px;
  padding: 0px;
}
article {
  padding: 0px 20px;
}
h4 {
  color: #409fbf;
  font-family: sans-serif;
}
.quote {
  color: #409fbf;
  font-family: sans-serif;
}
aside {
  float: right;
  width: 20%;
  margin: 50px 200px 50px 10px;
  padding: 0px;
}
a {
  color: #409fbf;
}
